build:
  type: text
  content: |+
    #!/bin/sh

    # make all
    #docker plus
    #cmd npm start


deploy:
  type: text
  content: |+
    #/bin/sh
    <<'###'
    Sample Deploy Instructions

    HELM_OPTS="--set clusterIP=${ROOST_CLUSTER_IP},tag=${ROOST_NAMESPACE},namespace=${ROOST_NAM

    kubectl apply -f <file>.yaml
    ###

test: []
uninstall:
  type: text
  content: |+
    #!/bin/sh

lastUpdatedBy: Aman Tripathi
lastUpdatedOn: 2022-08-17T06:06:55.828Z
